.landing {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.landing .contact {
    max-width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0 0 6px 1px #4f4d4d;
}

.landing .header-txt {
    padding: 20px 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing .header-txt i{
    font-size: 50px;
}

.landing .header-txt h2 {
    font-size: 35px;
}

.landing .contact .box-area {
    height: 350px;
    padding: 10px;
    margin: 0 auto;
}

.landing .contact p {
    padding: 10px;
}

.landing .contact .box-area input {
    width: 200px;
    height: 40px;
    padding: 10px;
    margin: 2px 5px;
    font-size: 18px;
    border: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #027c56;
    color: #fff;
    border: 1px solid #51c7a2;
    cursor: text;
    outline: none;
}

.landing .contact .box-area .email {
    width: 412px;
}

::placeholder {
    color: #fff;
}

.landing .contact .box-area textarea {
    width: 412px;
    height: 200px;
    resize: none;
    padding: 10px;
    margin: 2px 5px;
    font-size: 18px;
    border: 1px solid #51c7a2;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #027c56;
    cursor: text;
    outline: none;
}

.landing .contact .box-area button {
    height: 40px;
    width: 120px;
    font-size: 18px;
    padding: 3px 8px;
    margin: 5px 5px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #027c56;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}

.landing .contact .box-area button:hover {
    background-color: #027c56;
}

.landing .contact .last-note {
    padding: 15px;
}

@media (max-width: 320px) {
    .landing .contact {
        width: 200px;
    }

    .landing .contact .box-area {
        width: 100%;
    }

    .landing .contact .box-area input  {
        width: 95%;
    }

    .landing .contact .box-area .email {
        width: 95%;
    }
    .landing .contact .box-area textarea {
        width: 95%;
        height: 170px;
    }
    .box-area button {
        width: 150px;
    }
    .landing .contact .last-note {
        padding: 20px;
        margin: 10pxpx;
        font-size: 7px;
    }
}


@media (min-width: 321px) and (max-width:480px) {
    .landing .contact {
        width: 250px;
    }

    .landing .contact .box-area {
        width: 100%;

    }

    .landing .contact .box-area input  {
        width: 95%;
    }

    .landing .contact .box-area .email {
        width: 95%;
    }
    .landing .contact .box-area textarea {
        width: 95%;
        height: 170px;
    }
    .box-area button {
        width: 150px;
    }
    .landing .contact .last-note {
        padding: 20px;
        font-size: 7px;
    }
}

