@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');


* {
        font-size: 10px;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        cursor: default;
}


::-webkit-scrollbar {
        width: 10px;    
}

::-webkit-scrollbar-track {
        background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
        background: #6F4D4B;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
        background: #415f55;
}

/* ::-webkit-scrollbar-track:hover +
::-webkit-scrollbar-thumb {
        background: #415f55;
} */


::-moz-selection { /* Code for Firefox */
        color: #6f8d83;
        background: #F8D5C1;
}

::selection {
        color: #f1f1f1;
        background: #6D3C3E;
}