.landing {
    width: 80%;
    height: calc(100vh - 70px);
    background-color: #F8D5C1;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

